footer {
  background: var(--urtramarine-blue);
  top: 4rem;
}
.footer-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  padding: 220px var(--px) 80px;
}
.footer-logo {
  margin-bottom: 25px;
  width: 40px;
}
.footer-logo img {
  width: 40px;
}
.footer-text {
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  color: var(--lavander-blue);
  margin-bottom: 35px;
  line-height: 1.6;
}
.social-link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.social-link a {
  background: hsla(0, 0%, 1005, 0.1);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  transition: var(--default-transition);
  background: var(--white);
}
.social-link a:hover {
  background: var(--oxford-blue);
  color: var(--white);
}
.social-link .icon-footer {
  font-size: 20px;
  color: var(--white);
}

.grid-item .item-hearding {
  font-size: var(--fs-6);
  color: var(--white);
  margin-bottom: 25px;
}
.grid-item .list-item:not(:last-child) {
  margin-bottom: 10px;
}
.grid-item .list-item a {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  color: var(--lavander-blue);
  font-size: var(--fs-6);
  transition: var(--default-transition);
}
.grid-item .list-item a:hover {
  transform: translateX(10px);
  color: var(--red-orange-wheel);
}

.grid-item .wrapper {
  position: relative;
  display: inline-block;
  border-radius: 8px;
  width: 100%;
  overflow: hidden;
}
.grid-item .wrapper input {
  width: 100%;
  max-width: 100%;
  padding: 20px 30px;
  color: var(--oxford-blue);
  font-family: "Roboto", sans-serif;
  font-size: var(--fs-6);
  border: none;
  outline: none;
  margin: 0.3rem 0;
  border-radius: 8px;
}
.wrapper {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.grid-item .wrapper textarea {
  display: inline-block;
  width: 100%;
  margin: 0.3rem 0;
  border: none;
  outline: none;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  resize: none;
  font-family: inherit;
}
.grid-item .wrapper textarea::placeholder {
  padding: 1rem 2rem;
  font-size: 1rem;
}
.grid-item .send-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}
.copyright {
  background: hsl(231, 90%, 8%);
  text-align: center;
  color: var(--lavander-blue);
  font-size: var(--fs-6);
  font-family: "Roboto", sans-serif;
  padding: 15px var(--px);
  line-height: 1.7;
}
.copyright a {
  display: inline-block;
  color: var(--dod-blue);
}
